.app-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button {
  color: brown;
  justify-content: auto;
  align-items: auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}
.light {
  background-color: #f0f0f0;
  color: #333;
}
.dark {
  background-color: #333;
  color: #f0f0f0;
}
